@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins&display=swap');

:root {
    --primary-color: #ff0099;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #efefef;
    overflow-x: hidden;
}

header {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    animation: slideFromLeft 1.5s ease-in-out;
}

header > div:first-child, header > div:nth-child(2) {
    margin-right: 15px;
}

.main-header {
    font-family: Macondo;
    color: #fff;
}

.main-header:hover {
    cursor: pointer;
}

.navbar {
    background-color: #fff;
    padding: 15px 45px;
    border-radius: 25px;
    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 17%);
}

.navbar ul li {
    display: inline-block;
    margin-right: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    transition: color .4s ease-in;
}

.navbar ul li:hover a {
    cursor: pointer;
    color: var(--primary-color);
}

.socials a {
    margin-right: 4px;
}

.socials a:last-child {
    margin-right: 0;
}

.socials .fa {
    color: #fff;
    font-size: 25px;
}

.socials .fa:not(last-child) {
    margin-right: 20px;
}

.socials .fa-bars {
    display: none;
}

.socials > i:hover {
    cursor: pointer;
}

.showcase {
    padding: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 4s ease-in-out;
}

.showcase-content {
    margin-right: 50px;
}

.showcase-content p {
    font-family: Macondo;
    margin-bottom: 40px;
    font-size: 45px;
}

button,
.cakes-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 30px;
    font-size: 17px;
    border-radius: 15px;
    outline: none;
    border: none;
    box-shadow: 1px 2px 5px 4px rgba(255, 0, 153, 0.3)
}

.btn > button:first-child {
    margin-right: 7px;
}

.btn button:nth-child(2) {
    background-color: #efefef;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

button:hover {
    cursor: pointer;
    transform: scale(.97);
}


img {
    height: 430px;
}

.btn-1 {
    display: none;
}

/* Cakes */ 
#birthdayCakes-wrapper {
    padding: 0 100px;
    margin-bottom: 50px;
}

#birthday-cakes {
    display: flex;
}

.cakes-title h3 {
    font-size: 35px;
    font-family: Macondo;
    margin-bottom: 30px;
}

.birthday-cake {
    cursor: pointer;
    height: 350px;
    width: 500px;
    box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.096);
    position: relative;
}

.birthday-cake:not(:last-child) {
    margin-right: 20px;
}

.birthday-cake img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.cakes-btn {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    z-index: 10;
    transition: all .7s ease-in-out;
}

.birthday-cake:hover .cakes-btn {
    background-color: rgba(45, 57, 71, 0.5);
    transform: scale(1);
    box-shadow: none;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    header {
        padding: 20px 30px;
        flex-direction: column;
    }

    .socials {
        display: none;
    }

    .main-header {
        margin-bottom: 30px;
    }

    .main-header h1 {
        font-size: 20px;
    }

    .navbar {
        padding: 15px 30px;
    }

    .navbar ul li {
        margin-right: 6px;
    }

    .container {
        flex-direction: column;
    }

    #birthday-cakes {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    header {
        padding: 25px 10px;
        justify-content: space-between;
    }

    .main-header h1 {
        font-size: 22px;
    }

    .navbar {
        display: none;
    }

    .socials > i {
        display: inline-block;
    }

    .socials i {
        color: #fff;
    }

    .showcase {
        padding: 50px 10px;
    }

    .showcase-content {
        margin-right: 0%;
    }

    .showcase-content p {
        font-size: 25px;
        padding: 0 10px;
    }

    img {
        height: 420px;
    }

    .container {
        flex-direction: column;
    }

    .image-wrapper {
        margin-bottom: 25px;
    }

    .btn {
        display: none;
    }

    .btn-1 {
        display: block;
    }

    .btn-1 > button:first-child {
        margin-right: 35px;
    }

    button {
        padding: 11px 24px;
    }

    #birthdayCakes-wrapper {
        padding: 0 20px;
    }

    #birthday-cakes {
        display: flex;
        flex-direction: column;
    }

    .birthday-cake:not(:last-child) {
        margin-right: 0px;
    }

}